dist: trusty
sudo: required
language: c
cache:
  apt: true
  directories:
  - $HOME/.opam
addons:
  apt:
    sources:
    - avsm
    packages:
    - opam
    - aspcud
env:
  global:
  - NJOBS=1
  - COMPILER="4.11.1+flambda"
  # Main test targets
  # get versions from: https://opam.ocaml.org/packages/coq/
  matrix:
  - TEST_TARGET="8.14.1"
  - TEST_TARGET="8.15.0"
  - TEST_TARGET="dev"

install:
  - opam init -j ${NJOBS} -n -y -c ${COMPILER}
  - eval $(opam config env)
  - opam config var root
  - opam repo add coq-core-dev https://coq.inria.fr/opam/core-dev || true
  - opam install -y --verbose -j ${NJOBS} coq.${TEST_TARGET} && opam pin add coq ${TEST_TARGET} -y

script:
  - eval $(opam config env)
  - opam config var root
  - make -j ${NJOBS} -C src/
